h1 {
    font-size: 32px;
    color: #636363;
}
a{
    text-decoration: none;
}
a::after{
    content: "----->";
}
div{
    background-color: aqua;
}
div+div{
    border: solid red 1px;
}
#ana-baslik {
    font-size: 42px;
    color: red;
    font-weight: bolder;
}
.text-blue{
    color: blue;
}